extends layout

block content
 
  table
    caption List of Users
    tr
      th Name
      th Surname
      th Email
      th Age
      th Delete
      th Edit
    each item in users
      tr(user-id=item.id)
        td= item.name
        td= item.surname
        td= item.email
        td= item.age
        td 
          form(action="http://127.0.0.1:3000/users?_method=DELETE" method="post")
            input(type="submit" name=item.id value="Delete")
        td 
          button(type="button" user-id=item.id onclick="editUser()") Edit

  form(action="http://127.0.0.1:3000/users?_method=POST" method="post")
    h4 Add new user
    span Name:
    input(type="text" name="name")
    span Surname:
    input(type="text" name="surname")
    span Email:
    input(type="text" name="email")
    span Age:
    input(type="text" name="age")
    input(type="submit" value="Add")
  
  form(action="http://127.0.0.1:3000/users?_method=PUT" method="post")
    h4 Edit user, enter new props
    span Name:
    input(type="text" name="name" id="edit-user-name")
    span Surname:
    input(type="text" name="surname" id="edit-user-surname")
    span Email:
    input(type="text" name="email" id="edit-user-email")
    span Age:
    input(type="text" name="age" id="edit-user-age")
    input(type="text" name="id" id="edit-user-id" hidden) 
    input(type="submit" value="Edit")