extends layout

block content
  //- p #{users}
 
  table
    tr
      th Name
      th Surname
      th Email
      th Age
    each item in users
      tr
        td= item.name
        td= item.surname
        td= item.email
        td= item.age
