extends layout

block content
  //- p #{users}
 
  table
    tr
      th Name
      th Surname
      th Email
      th Age
      th Delete
      th Edit
    each item in users
      tr(user-id=item.id)
        td= item.name
        td= item.surname
        td= item.email
        td= item.age
        td 
          form(action="http://127.0.0.1:3000/users" method="get")
            input(type="submit" value="Delete" name=item.id)
        td 
          form(action="http://127.0.0.1:3000/users" method="get") 
            input(type="submit" value="Edit" name="user"+item.id)

//- http://example.com/over/there?name=ferret
    //- span Text
    //- input(type="text")