extends layout

block content
  //- p #{users}
 
  table
    caption List of Users
    tr
      th Name
      th Surname
      th Email
      th Age
      th Delete
      th Edit
    each item in users
      tr(user-id=item.id)
        td= item.name
        td= item.surname
        td= item.email
        td= item.age
        td 
          form(action="http://127.0.0.1:3000/users/"+item.id method="get")
            input(type="submit" value="Delete")
        td 
          form(action="http://127.0.0.1:3000/users" method="get") 
            input(type="submit" value="Edit" name=item.id)

  form(action="http://127.0.0.1:3000/users" method="post")
    h4 Add new user
    span Name:
    input(type="text" name="name")
    span Surname:
    input(type="text" name="surname")
    span Email:
    input(type="text" name="email")
    span Age:
    input(type="text" name="age")
    input(type="submit" value="Add")
//- http://example.com/over/there?name=ferret
    //- span Text
    //- input(type="text")