extends layout

block content
  div.container
            
    table(class="striped bordered centered")
      caption List of Users
      thead
        tr
          th Name
          th Surname
          th Email
          th Age
          th Delete
          th Edit
      tbody
        if Object.keys(users).length == 0
          tr
            td(colspan="6") No users to show :(
        else
          each item in users
            tr(user-id=item.id)
              td= item.name
              td= item.surname
              td= item.email
              td= item.age
              td 
                button(class="btn-floating btn-medium red" type="button" )
                  i(class="large material-icons"  user-id=item.id onclick="deleteUser()") delete
              td 
                button(data-target="modal1" class="btn-floating modal-trigger btn-medium" type="button" )
                  i(class="large material-icons" user-id=item.id  onclick="editUser()") mode_edit

    div(class="center-align add-button-container")
      button(data-target="modal2" class="btn waves-effect waves-light modal-trigger btn-medium" type="button") Add new user
        i(class="material-icons right") add


    div(id="modal1" class="modal")
      div(class="modal-content")

        h4 Edit user
        div(class="input-field col s6")
          span Name:
          input(type="text" name="name" id="edit-user-name")
        div(class="input-field col s6")
          span Surname:
          input(type="text" name="surname" id="edit-user-surname")
        div(class="input-field col s6")
          span Email:
          input(type="text" name="email" id="edit-user-email")
        div(class="input-field col s6")
          span Age:
          input(type="number" name="age" id="edit-user-age")
      
      div(class="modal-footer")
        button(class="btn waves-effect modal-action modal-close waves-light" type="submit" name="action" id="edit-send-button" onclick="sendEditedUser()") Edit user
          i(class="material-icons right") send

    div(id="modal2" class="modal")
      div(class="modal-content")

          div(class="row")
            h5 Add new user
            div(class="input-field col s6")
              input(type="text" id="new-user-name" name="name")
              label(for="new-user-name") Name
            div(class="input-field col s6")
              input(type="text" id="new-user-surname" name="surname")
              label(for="new-user-surname") Surname
          div(class="row")
            div(class="input-field col s6")
              input(type="text" id="new-user-email" name="email")
              label(for="new-user-email") Email
            div(class="input-field col s6")
              input(type="number" id="new-user-age" name="age")
              label(for="new-user-age") Age

      div(class="modal-footer")
        button(type="submit" name="action" class="btn-floating  modal-action modal-close btn-medium" onclick="addUser()")
          i(class="material-icons right") add
